/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2017, 1:19:23 PM
    Author     : Rashed
*/
#donor-register { height: auto; background-size: cover; padding: 30px; margin-bottom: -30px;}

input{color:white;}
input[type=date]{color: white; background:none;}
select{color:white; background:none;}
textarea{color:white;}
.example{ color: #adabab;    text-align: center;    margin: 0 auto;    font-size: 12px; }
#map {        height: 100%;    } 
#description {        font-family: Roboto;        font-size: 15px;        font-weight: 300;    }
#infowindow-content .title {        font-weight: bold;    }
#infowindow-content {        display: none;    }
#map #infowindow-content {        display: inline;    }
#pac-container {        padding-bottom: 12px;        margin-right: 12px;    }
.pac-controls {       display: inline-block;        padding: 5px 11px;    }
.pac-controls label {        font-family: Roboto;        font-size: 13px;        font-weight: 300;    }
.bangla{    font-size: 10px;     display: block;    text-align: right;}
label{ }
#title {color: #fff; background-color: #4d90fe;  font-size: 25px;  font-weight: 500; padding: 6px 12px;    }
#target {width: 345px;}
#pac-input:focus{background:none;color: white;}
form.login{background-color: rgba(224, 224, 224, 0.23);height: 100%;width: 100%;margin: 0 auto;padding: 10px; padding-top: 50px; border-top-right-radius: 5px; border-top-left-radius: 5px;    }
input:focus{        background: none;        color: white !important;    }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus {
    background: none;    outline: none;    color: #fff;}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea {
    background: none;    color: white !important;    }
select{            background: none !important;            color: white !important;    }
select:focus{            background: none !important;            color: red !important;    }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;   margin: 0; }